<div xmlns:th="http://www.thymeleaf.org">
    <ul style="list-style-type: none; padding: 0;">
        <li th:if="${#request.userPrincipal == null}">
            <form th:action="@{/login}">
                <button type="submit">Войти</button>
            </form>
        </li>
        <li th:if="${#request.userPrincipal != null}">
            <form th:action="@{/logout}">
                <button type="submit">Выйти</button>
            </form>
        </li>
        <li>
            <form th:action="@{/admin/all}">
                <button type="submit">Админка</button>
            </form>
        </li>
        <li>
            <form th:action="@{/user/lk}">
                <button type="submit">Личный Кабинет</button>
            </form>
        </li>
    </ul>
</div>